# Your Telnyx API Key. Get it at https://portal.telnyx.com/#/app/api-keys
TELNYX_API_KEY=KEYxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# The Telnyx phone number you want to use to send SMS. Get one in the Telnyx Portal
TELNYX_PHONE_NUMBER=+12223334444
# Your Telnyx Messaging Profile ID. Create one at https://portal.telnyx.com/#/app/messaging
TELNYX_MESSAGING_PROFILE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

SECRET_KEY=SuperSecretKey
DEBUG=True
REDIS_LOCAL=localhost
